.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @Iman: add from Pro-react book for add new card */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  }
  .card.big {
  position: absolute;
  width: 450px;
  height: 200px;
  margin: auto;
  padding: 15px;
  top: 0; left: 0; bottom: 100px; right: 0;
  z-index: 3;
  }
  .card.big input[type=text], textarea {
  width : 100%;
  margin: 3px 0;
  font-size: 13px;
  border: none;
  }
  .card.big input[type=text] {
  font-size: 20px;
  font-weight: bold;
}
.card.big input[type=text]:focus,
.card.big textarea:focus {
outline: dashed thin #999;
outline-offset: 2px;
}
.card.big label {
margin: 3px 0 7px 3px;
color: #a7a7a7;
display: inline-block;
width: 60px;
}
.actions {
margin-top: 10px;
text-align: right;
}
.card.big button {
font-size:14px;
padding: 8px;
}